<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>register page</h1>
<div>
    <form action="" method="POST">
        {% csrf_token %}
       <p>{{register_form.email.lable}}</p> 
        {{register_form.email}}
        {{register_form.user_name.lable}}
        {{register_form.user_name}}
        {{register_form.first_name.lable}}
        {{register_form.first_name}}
        {{register_form.about.lable}}
        {{register_form.about}}
        {{register_form.password1.lable}}
        {{register_form.password1}}
        {{register_form.password2.lable}}
        {{register_form.password2}}
        <input type="submit" name="Create user">
    </form>
</div>

{% for error in register_form.errors %}
{{error}}
{% endfor %}


</body>
</html>
